@import url(style.css);
@import url(styleLancamento.css);

.contato {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 2rem;
    width: 100%;
}

.contato img {
    padding-top: 2%;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.contato__formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

input, select {
    width: 100%;
    border-radius: 0.5rem;
    width: 20rem;
    height: 2rem;
}

#contato__formulario__mensagem {
    height: 15rem;
    width: 20rem;
    text-align: start;
    border-radius: 5%;
    font-size: 1rem;
}

.contato__formulario__botao {
    display: flex;
    justify-content: end;

}

.contato__formulario__botao button {
    width: 10rem;
    height: 2.5rem;
    border: 0;
    border-radius: 0.8rem;
    background-color: #1351d8;
    color: white;
    transition: background-color 0.2s ease;
}

.contato__formulario__botao button:hover {
    background-color: #0f1f42;
}