@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%;
}

body {
    min-height: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
}

main {
    padding-bottom: 6rem;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 0 1% 0;
    box-shadow: 1px 1px 10px rgba(90, 90, 90, 0.5);
    align-items: center;
    width: 100%;
}

#menu__logoHeader {
    width: 60%;
    padding-left: 8%;
}

.menu__navegacao {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.menu__navegacao a {
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #1351d8;
    font-size: 1.5rem;
}

.apresentacao {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.apresentacao img {
    width: 100%;
    height: auto;
}

.apresentacao p {
    padding-top: 0.5%;
}

.rodape {
    background-color: #1b357e;
    color: white;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0.5rem;
}

#rodape_copyright {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rodape__redes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rodape__redes img {
    width: 2rem;
}

#rodape__ImgRodape {
    padding-right: 2rem;
}

@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        justify-content: center;
    }

    .menu__navegacao {
        gap: 1.5rem;
    }

    body {
        padding-bottom: 10rem;
    }
}

@media (max-width: 375px) {
    body {
        min-width: 360px;
    }
    main{
        padding-bottom: 40%;
    }
}