@import url(style.css);

.conteudo__video {
    padding-top: 0.5%;
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 500px;
    padding-bottom: 1%;
}

#conteudo__descricao {
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1351d8;
}

.conteudo__tabela {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 1%;
}

table {
    width: max-content;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 1rem;
}

.conteudo__tabela__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.conteudo__tabela__info input {
    width: 2rem;
}

.conteudo__tabela__info img {
    height: 2rem;
    max-width: 100%;
    object-fit: contain;
    display: block;
}

u {
    color: #1351d8;
}

.conteudo__tabela__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conteudo__tabela__botao button {
    max-width: 15em;
    height: auto;
    border-radius: 0.8rem;
    padding: 0.8em;
    border: 0;
    text-align: center;
    font-size: 1em;
    background-color: #1351d8;
    color: white;
    box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease;
}

.conteudo__tabela__botao button:hover {
    background-color: #0f1f42;
}

@media (max-width: 1056px) {
    table {
        margin: 0 auto;
    }
    .conteudo__tabela {
        padding-bottom: 2.5rem;
    }

    .conteudo__tabela__info img {
        height: 2rem;
        max-width: 100%;
        object-fit: contain;
        display: block;
    }
}